<!-- <h1 class="sinistra2">Modifica</h1>



<div >
  
   
    <form [formGroup]="formGruppo">
        <div class="griglia"  >
   
            
                <div class="field-name" class="margineSinistra">ID Commessa:</div>
         <div class="field-input">
           <mat-form-field class="margineDestra">
             <mat-label></mat-label>
             <input matInput type="text" name="id"  formControlName="idCommessa"/>
           </mat-form-field>
         </div>
        
         <div class="field-name" class="margineSinistra">OGGETTO:</div>
         <div class="field-input">
           <mat-form-field class="margineDestra">
             <mat-label></mat-label>
             <input matInput type="text" name="oggetto" formControlName="oggetto" />
           </mat-form-field>
        </div>
         
        
         <div class="field-name" class="margineSinistra">STATO:</div>
         <div class="field-input">
           <mat-form-field class="margineDestra">
             <mat-label></mat-label>
             <input matInput type="object" name="nameStato" formControlName="statoName" />
           </mat-form-field>
         </div>
        
        
         <div class="field-name" class="margineSinistra">DATA CREAZIONE:</div>
         <div class="field-input">
           <mat-form-field class="margineDestra">
             <mat-label></mat-label>
             <input matInput type="text" name="dataCreazione" />
           </mat-form-field>
         </div>
        
        
         <div class="field-name" class="margineSinistra">STATO APPROVAZIONE:</div>
         <div class="field-input">
           <mat-form-field class="margineDestra">
             <mat-label></mat-label>
             <input matInput type="text" name="statoApprovazione"  />
           </mat-form-field>
         </div>
        
        
         <div class="field-name" class="margineSinistra">NOTE:</div>
         <div class="field-input">
           <mat-form-field class="margineDestra">
             <mat-label></mat-label>
             <input matInput type="text" name="note"  />
           </mat-form-field>
         </div>
        
        
         <div class="field-name" class="margineSinistra">CAMPO 1:</div>
         <div class="field-input">
           <mat-form-field class="margineDestra">
             <mat-label></mat-label>
             <input matInput type="text" name="Campo1" />
           </mat-form-field>
         </div>
        
        
         <div class="field-name" class="margineSinistra">CAMPO 2:</div>
         <div class="field-input">
           <mat-form-field class="margineDestra">
             <mat-label></mat-label>
             <input matInput type="text" name="Campo2"  />
           </mat-form-field>
         </div>
        
        
         <div class="field-name" class="margineSinistra">CAMPO 3:</div>
         <div class="field-input">
           <mat-form-field class="margineDestra">
             <mat-label></mat-label>
             <input matInput type="text" name="Campo3" />
           </mat-form-field>
         </div>
        
        
         <div class="field-name" class="margineSinistra">CAMPO 4:</div>
         <div class="field-input">
           <mat-form-field class="margineDestra">
             <mat-label></mat-label>
             <input matInput type="text" name="Campo4"  />
           </mat-form-field>
         </div>
        
    
  
        
        
        
    </div>
    
    <button class="sinistra" mat-raised-button color="primary" (click)="modifica()" > Modifica</button>
    <button class="sinistra2" mat-raised-button color="warn" (click)="torna()" >Torna </button>

    <ng-template #messaggioModifica let-dialogRef>
      <mat-dialog-content>
          Vuoi confermare le modifiche?  
        <button class="bottoneConferme" mat-raised-button color="primary" (click)="confermaModifiche()" >Conferma</button>
        <button class="bottoneConferme" mat-raised-button color="warn" (click)="annullaModifiche()" >Annulla </button>  
      </mat-dialog-content>
  
  
    </ng-template>
 -->
 <div class="container">
    <h2>Modifica Component</h2>
  
    <form [formGroup]="formGruppo">
      <div class="form-group">
        <label for="idCommessa">Id Commessa</label>
        <input type="text" class="form-control" id="idCommessa" formControlName="idCommessa" >
      </div>
  
      <div class="form-group">
        <label for="oggetto">Oggetto</label>
        <input type="text" class="form-control" id="oggetto" formControlName="oggetto">
      </div>
  
      <div class="form-group">
        <label for="statoName">Stato</label>
        <input type="text" class="form-control" id="statoName" formControlName="statoName" >
      </div>
  
      <div class="form-group">
        <label for="dataCreazione">Data Creazione</label>
        <input type="text" class="form-control" id="dataCreazione" formControlName="dataCreazione" >
      </div>
  
      <div class="form-group">
        <label for="statoApprovazione">Stato Approvazione</label>
        <input type="text" class="form-control" id="statoApprovazione" formControlName="statoApprovazione">
      </div>
  
      <div class="form-group">
        <label for="note">Note</label>
        <textarea class="form-control" id="note" formControlName="note"></textarea>
      </div>
  
      <div class="form-group">
        <label for="campo1">Campo 1</label>
        <input type="text" class="form-control" id="campo1" formControlName="campo1">
      </div>
  
      <div class="form-group">
        <label for="campo2">Campo 2</label>
        <input type="text" class="form-control" id="campo2" formControlName="campo2">
      </div>
  
      <div class="form-group">
        <label for="campo3">Campo 3</label>
        <input type="text" class="form-control" id="campo3" formControlName="campo3">
      </div>
  
      <div class="form-group">
        <label for="campo4">Campo 4</label>
        <input type="text" class="form-control" id="campo4" formControlName="campo4">
      </div>
  
      <button mat-raised-button color="primary" (click)="confermaModifiche()">Conferma Modifiche</button>
      <button mat-raised-button color="warn" (click)="annullaModifiche()">Annulla</button>
    </form>
  </div>
  
  <ng-template #messaggioModifica>
    <div>
      <!-- Add your confirmation message template here -->
    </div>
  </ng-template>
  